.loader{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 350px;
    border: 20px solid greenyellow;
    border-top: 20px solid black;
    animation: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-timing-function: steps(10); */
    animation-timing-function: linear;
    
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}