*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    height: 800px;
    width: 800px;
    background-color: rgb(240, 192, 19);
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.box{
    background-color: blueviolet;
}
#header{
    grid-column-start: 1;
    grid-column-end: 4;

}
#content1{
    grid-row: 2/4;      /*Yaha par bhi row jo hai 2 se start aur 4 pe end hai*/
}
#content2{
    grid-column: 2/4;
}
#content3{
    grid-column: 2/3;
    grid-row: 3/4;

}
#content4{
    grid-row: 3/4;
}
#content5{
    grid-column: 1/4;
}